// FONTS
$font1: "Helvetica";
$font2: "Times New Roman";

// COLORS
$textcolor: #111111;
$color1: lightblue;
$color2: lightgreen;

$background: white;
$footerColor: rgb(249, 202, 109);

// HEADER
$headerColor: white;
$navbarColor: rgb(249, 202, 109);
$imageLogoSize: 300px;
$textLogoSize: 30px;
$textLogoFont: sans-serif;
$navspacing: 20px;
$navFont: $font1;
$navColor: black;
$navHoverColor: green;