$font1: "Helvetica";
$font2: "Times New Roman";
$textcolor: #111111;
$color1: lightblue;
$color2: lightgreen;

* {
    box-sizing: border-box;
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6,p {
    color: $textcolor;
}

h1 {
font-family: $font1;
}

h2 {
font-family: $font2;
}

p {
font-family: $font2;
line-height: 1.2;
font-size: 16px;
}

.App {
background-color: aliceblue;
}

.strip {
    padding: 20px;
}

nav {
    @extend .strip;
    background-color: lightgreen;
    align-items: center;
    display: flex;

    &.row {
        flex-direction: column;
    }

    > * {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin-left: 20px;
    }

    p {
        font-size: 30px;
    }
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }