// FONTS
$font1: "Helvetica";
$font2: "Times New Roman";

// COLORS
$textcolor: #111111;
$color1: lightblue;
$color2: lightgreen;

// HEADER
$imageLogoSize: 300px;
$textLogoSize: 36px;
$textLogoFont: Georgia;
$navspacing: 20px;
$navFont: $font1;
$navColor: black;
$navHoverColor: green;

* {
    box-sizing: border-box;
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6,p {
    color: $textcolor;
}

h1 {
font-family: $font1;
}

h2 {
font-family: $font2;
}

p {
font-family: $font2;
line-height: 1.2;
font-size: 16px;
}

.App {
background-color: aliceblue;
}

.strip {
    padding: 20px;
}

nav {
    @extend .strip;
    background-color: lightgreen;
    align-items: center;
    display: flex;
    font-family: $navFont;

    &.row {
        flex-direction: column;
    }

    > * {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a {
        display: inline-block;
        margin-left: $navspacing;
        text-decoration: none;
        &:visited {
            color: $navColor;
        }
        &:hover {
            color: $navHoverColor;
        }
    }

    p.logo {
        font-size: $textLogoSize;
        font-family: $textLogoFont;
    }

    img.logo {
        width: $imageLogoSize;
    }
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }